# General
.DS_Store
*.log
*.swp
*.swo
*.env*
*.py[cod]
__pycache__/
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg

# Virtual Environments
venv*/
env*/
.venv*/

# Node.js / Next.js
node_modules/
.next/
out/
.cache/
.yarn/
.pnp.*
.npm
.eslintcache

# The error of nvm
# nvm install 20
# nvm use 20
