# General
.DS_Store
*.log
*.swp
*.swo
*.env*
*.py[cod]
__pycache__/
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg

# Virtual Environments
venv*/
env*/
.venv*/

# Node.js / Next.js
node_modules/
.next/
out/
.cache/
.yarn/
.pnp.*
.npm
.eslintcache
# credits https://github.com/ChristophHandschuh/chatbot-ui
# credits https://github.com/salimi-my/shadcn-ui-sidebar

# inspiration https://www.chatbot.com/help/build-your-chatbot/how-to-build-your-chatbot/
# inpiration https://github.com/JiteshGaikwad/Chatbot-Widget.git
# inspiration https://www.npmjs.com/package/chatbot-widget-ui